body{
    font-family: Arial, sans-serif;
    background-color: rgb(143, 229, 255);
}
h1,h3{
    text-transform: uppercase;
    text-align: justify;
    
}
p{
color: rgb(50, 14, 255);
}
img{
    border: 30px;
    border-color: black;
   
    
    
}s